@charset "utf-8";
/* CSS Document */
html, body {
	padding: 0;
	margin: 0;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {
	.block-title {
		margin: 10px 0 18px 0;
	}
	.slideshow--nav-next {
		left: 85%;
	}
	.ow-navigation .nav.navbar-nav>li>a {
		padding: 30px 4px;
	}
	.section-padding {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.indexevent .entry-cover {
		width: 40%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 60%;
	}
	.slideshow {
		width: 100%;
	}
	.slideshow--item {
		width: 100%;
	}
	.booking-form-block {
		padding: 10px;
	}
	.searchlist {
		width: 289px;
		top: 14.8%;
		right: 0;
	}
	.myElement {
		width: 100%;
	}
	.postpage .modal-lg {
		width: auto;
	}
	.manageMulti {
		width: 100% ! important;
		height: 400px ! important;
	}
	.slideshow--nav-next {
		left: 90%;
	}
	.eventlist .upcoming-event.latest-blog .type-post {
		height: auto;
	}
	.howwecan-left {
		left: 96px;
	}
	.eventlistimg {
		width: 303px;
		height: 228px;
		object-fit: contain;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.ow-navigation .navbar-header {
		float: left;
	}
	.hurryup-block {
		padding: 10px;
	}
	.register .signin {
		float: left;
		margin: 5px 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hdrmenu {
		padding-left: 0;
	}
	.affix {
		position: absolute;
	}
	.navbar-fixed-bottom, .navbar-fixed-top {
		position: absolute;
	}
	.ow-navigation .nav.navbar-nav>li>a {
		padding: 10px 4px;
	}
	.usrprofle {
		float: left;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 48%;
		height: auto;
		top: 24.6%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.eventlist .content-area .type-post .entry-block, .eventlist .content-area .type-post .entry-cover
		{
		width: 37%;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
	.event-select-option {
		width: 100%;
	}
	.event-select-option {
		margin-left: 0;
	}
	.eventlistimg {
		width: 283px;
		height: 206px;
		object-fit: contain;
	}
	.howwecan-left {
		left: 126px;
	}
	.slideshow--nav-previous {
		right: 85%;
	}
	.slideshow--nav-next {
		left: 85%;
	}
	.usernameright {
		text-align: right;
	}
	.eventlist .content-area {
		margin-top: 20px;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		background-color: transparent;
		left: 38px;
	}
	.postpage .modal-lg {
		width: auto;
	}
	.manageMulti {
		width: 100% !important;
	}
	.indexevent .entry-cover {
		float: left;
		width: 40%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		background-color: transparent;
		left: 26px;
		width: 60%;
	}
	.slideshow {
		width: 100%;
	}
	.slideshow--item {
		width: 100%;
	}
	.section-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.latest-blog .section-padding:last-of-type {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer-main .row {
		margin-bottom: 10px;
	}
	.footer-main {
		padding-top: 44px;
	}
	.footer-main .footer-about {
		margin-bottom: 35px;
	}
	.menu-block a.user {
		line-height: 1;
	}
	.eventsingle.latest-blog .section-padding:last-of-type {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.booking-form-block {
		padding: 10px;
	}
	.myElement {
		width: 100%;
	}
	.postpage .popupimg {
		max-width: 100%;
	}
	.mobilevermrngtop {
		margin-top: 10px;
	}
	.commntimg {
		width: 100%;
		float: right;
		padding-left: 39px;
	}
	.postpage .comment-list .comment-post {
		margin-top: 8px;
		width: 100%;
		float: right;
		padding-left: 39px;
	}
	.eventlist .upcoming-event.latest-blog .type-post {
		height: auto;
	}
	.cashcomtimg {
		width: 100%;
		float: right;
		padding-left: 0px;
	}
	.post-comment .media-body .media-heading span:before {
		content: "\f017";
		margin: 0 3px;
		color: #21a5b2;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
	.post-comment .media-body .media-heading span {
		display: block;
		margin-top: 0;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 736px) {
	.usrprofle {
		float: left;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 51%;
		height: auto;
		top: 61.1%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.event-categories {
		width: 100%;
	}
	.feed-showmore-height {
		max-height: 138px;
		overflow: hidden;
		min-height: 138px;
	}
	.howwecan-left {
		left: 33px;
	}
	.eventlist .upcoming-event.latest-blog .type-post {
		height: auto;
	}
	.postpage .popupimg img {
		/*  top: 55%; */
		
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 100%;
	}
	.cd-tabs {
		margin-top: 5%;
		box-shadow: 0px 2px 16px 4px #919191;
	}
	.upcoming-event.latest-blog .type-post .entry-cover {
		max-width: 100%;
		float: left;
		width: 23%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 73%;
	}
	.eventlist.upcoming-event.latest-blog .content-area {
		text-align: left;
	}
	.blogpost.latest-blog .section-padding:last-of-type {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.slideshow--nav-previous {
		right: 85%;
	}
	.eventlist.upcoming-event.latest-blog .type-post .entry-block {
		left: 20px;
	}
	span.play-button-link img.play-button {
		bottom: 58%;
		left: 95%;
		width: 40px;
		height: 40px;
	}
	.alignButtonOnPopUp {
		bottom: 40% ! important;
		left: 63% ! important;
	}
	.caseof-overview .type-post .entry-block {
		left: 0 !important;
	}
	.affix {
		position: absolute;
	}
}

@media only screen and (max-width: 668px) {
	.eventlist.upcoming-event.latest-blog .type-post .entry-block {
		left: 20px;
	}
	.slideshow--nav-previous {
		right: 90%;
	}
	.slideshow--nav-next {
		left: 90%;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 56%;
		height: auto;
		top: 67.1%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.eventpopimg .modal-md {
		width: auto;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 420px;
	}
	.eventpopimg .slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventpopimg .slideshow--bullet {
		top: 164px;
	}
	.post-comment .media-body .media-content {
		padding-left: 60px;
	}
}

@media only screen and (max-width: 640px) {
	.caseof-overview .type-post .entry-block {
		left: 0 !important;
	}
	.usrprofle {
		float: left;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 58%;
		height: auto;
		top: 70.1%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.feed-showmore-height {
		max-height: 135px;
		overflow: hidden;
		min-height: 135px;
	}
	.howwecan-left {
		left: 17px;
	}
	.slider-section .carousel-inner>.item>img {
		height: auto;
	}
	.page-banner .banner-content h3 {
		padding-left: 0;
		padding-right: 0;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 100%;
	}
	.eventpopimg .modal-md {
		width: auto;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 399px;
	}
	.eventpopimg .slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventpopimg .slideshow--bullet {
		top: 164px;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 73%;
	}
	span.play-button-link img.play-button {
		bottom: 62%;
		left: 101%;
		width: 40px;
		height: 40px;
	}
	.cashcomtimg {
		width: 100%;
		float: right;
		padding-left: 2px;
	}
	.post-comment .media-body .media-heading span {
		display: block;
		margin-top: 0;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 568px) {
	.ow-navigation .nav.navbar-nav>li>a {
		padding: 10px 4px;
	}
	.usrprofle {
		float: left;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 65%;
		height: auto;
		top: 79.1%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.viewpost .entry-cover {
		width: 100%;
	}
	.usereventlistimg {
		width: 500px;
		height: 351px;
		object-fit: contain;
		box-shadow: initial;
	}
	.eventlistimg {
		width: 511px;
		height: 242px;
		object-fit: contain;
	}
	.upcoming-event.latest-blog .type-post .entry-cover {
		width: 100%;
	}
	.eventlist.upcoming-event.latest-blog .type-post {
		width: 100%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		width: 100%;
	}
	.eventlist.upcoming-event.latest-blog .content-area {
		margin-bottom: 0px;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 346px;
	}
	.upcoming-event.latest-blog .entry-block {
		width: 73%;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.hdrmenu {
		padding-left: 0;
	}
	.usrprofle {
		float: left;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -37px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 77%;
		height: auto;
		top: 37.1%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.eventlistimg {
		width: 415px;
		height: 301px;
		object-fit: contain;
	}
	.howwecan-left {
		margin-left: 50px;
		margin-top: 0;
		left: 0;
	}
	.viewpost .entry-cover {
		width: 100%;
		float: none !important;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		float: left;
		margin-bottom: 20px;
	}
	.eventslider .modal-md {
		width: auto;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 295px;
	}
	.eventpopimg .slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventpopimg .slideshow--bullet {
		top: 127px;
	}
	.booking-form-block {
		padding: 0;
	}
	.slider-section .carousel-inner>.item>img {
		height: auto;
	}
	.menu-block .menu-search {
		right: 80px;
		border: none;
		width: 43px;
		height: 40px;
		position: initial;
	}
	.menu-search .sb-search-submit {
		top: 10px;
		left: 95%;
	}
	.footer-main {
		padding-top: 24px;
	}
	.footer-main .footer-about {
		padding-bottom: 22px;
		margin-bottom: 25px;
	}
	.foltleft {
		float: left !important;
	}
	.eventsingle.latest-blog .section-padding:last-of-type {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.footer-main .row {
		margin-bottom: 20px;
	}
	.section-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.eventlist.upcoming-event.latest-blog .type-post {
		width: 100%;
	}
	.eventlist.latest-blog .type-post .entry-cover {
		margin-bottom: 10px;
	}
	.eventimgsize {
		width: 100%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		background-color: transparent;
		width: 100%;
	}
	.latest-blog .section-padding:last-of-type {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.blog.upcoming-event.latest-blog .type-post:last-of-type {
		margin-bottom: 10px;
	}
	.eventlist.upcoming-event.latest-blog .content-area {
		margin-bottom: 0px;
		margin-top: 20px;
	}
	.cd-tabs {
		position: relative;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 15% auto;
		box-shadow: 0px 2px 16px 4px #919191;
	}
	.menu-block a.user {
		line-height: 1;
	}
	.latest-blog .type-post .col-xs-6 {
		width: 100%;
		max-width: 100%;
	}
	.blogpost.latest-blog .section-padding:last-of-type {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.blog.upcoming-event.latest-blog .type-post:last-of-type {
		margin-bottom: 10px;
	}
	.blog .widget-area {
		margin-top: 20px;
	}
	.upcoming-event.latest-blog .type-post .entry-cover {
		float: left;
		width: 100%;
	}
	span.play-button-link img.play-button {
		bottom: 34%;
		left: 75%;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 305px;
	}
	.overimgslider .slideshow--bullet {
		top: 120px;
	}
	.eventoverview .carousel-inner>.item>a>img, .carousel-inner>.item>img,
		.img-responsive, .thumbnail a>img, .thumbnail>img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
	.overimgslider .slideshow--item {
		width: 100%;
		height: auto;
	}
	.mypostview .comment {
		float: right !important;
	}
	.videoupsideimg {
		max-height: 200px;
		width: 100% !important;
	}
	.viewpost .comment {
		padding-right: 8px !important;
	}
	.usereventlistimg {
		width: 370px;
		height: 274px;
		object-fit: contain;
		box-shadow: initial;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
	.ow-navigation .nav.navbar-nav>li>a {
		padding: 10px 4px;
	}
}

@media only screen and (max-width: 414px) {
	.viewpost .entry-meta {
		padding-left: 5px !important;
	}
	.blog.upcoming-event.latest-blog .type-post .entry-meta [class*="post-"]
		{
		width: auto;
	}
	.viewpost .post-date {
		margin-right: 5px !important;
	}
	.usrprofle {
		float: left;
	}
	.usernameright {
		text-align: left;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -36px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 90%;
		height: auto;
		top: 34.3%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 258px;
	}
	.btn-srch {
		margin-top: -36px;
	}
	.usereventlistimg {
		width: 300px;
		height: 223px;
		object-fit: contain;
		box-shadow: initial;
	}
	.event-categories {
		width: 100%;
	}
	.event-select-option {
		margin-left: 0;
	}
	.eventlistimg {
		width: 338px;
		height: 252px;
		object-fit: contain;
	}
	.postpage .comment-date {
		margin-top: 5px;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 236px;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 255px;
	}
	.overimgslider .slideshow--bullet {
		top: 120px;
	}
	.eventoverview .carousel-inner>.item>a>img, .carousel-inner>.item>img,
		.img-responsive, .thumbnail a>img, .thumbnail>img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
	.overimgslider .slideshow--item {
		width: 100%;
		height: auto;
	}
	.top-header .register .signout {
		padding: 12px 18px !important;
		font-size: 17px;
	}
	.viewpost .entry-cover {
		width: 100%;
		float: none !important;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		float: left;
		margin-bottom: 20px;
	}
	.eventlist.upcoming-event.latest-blog .type-post .entry-block {
		left: 0;
	}
	.alignButtonOnPopUp {
		bottom: 40% ! important;
		left: 71% ! important;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 412px) {
	.usrprofle {
		float: left;
	}
	.btn-srch {
		margin-top: -36px;
	}
	.header-search:hover input, .header-search input:focus {
		padding: 10px 10px 10px 10px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-left: -123px;
		width: 347px;
		margin-top: -36px;
		height: 30px;
		background: #fff;
		color: #555;
	}
	.searchlist {
		width: 90%;
		height: auto;
		top: 38.3%;
		right: 0;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 258px;
	}
	.eventlistimg {
		width: 345px;
		height: 256px;
		object-fit: contain;
	}
	.howwecan-left {
		margin-left: 48px;
		margin-top: 0;
		left: 0;
	}
	.eventlist.upcoming-event.latest-blog .type-post .entry-block {
		left: 0;
	}
	.viewpost .entry-cover {
		width: 100%;
		float: none !important;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.viewpost .entry-meta {
		padding-left: 4px !important;
	}
	.viewpost .comment {
		padding-right: 8px !important;
	}
	.viewpost {
		padding: 20px 10px 20px;
		padding-bottom: 0;
	}
	.viewpost .viewmore {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.myElement {
		height: auto;
		width: 100%;
	}
	.top-header .register .signout {
		padding: 10px 18px !important;
		font-size: 17px;
	}
	.eventpopimg .modal-md {
		width: auto;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 229px;
	}
	.eventpopimg .slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventpopimg .slideshow--bullet {
		top: 108px;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 255px;
	}
	.overimgslider .slideshow--bullet {
		top: 120px;
	}
	.eventoverview .carousel-inner>.item>a>img, .carousel-inner>.item>img,
		.img-responsive, .thumbnail a>img, .thumbnail>img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
	.overimgslider .slideshow--item {
		width: 100%;
		height: auto;
	}
	span.play-button-link img.play-button {
		bottom: 37%;
		left: 75%;
		width: 50px;
		height: 50px;
	}
	.alignButtonOnPopUp {
		bottom: 40% ! important;
		left: 71% ! important;
	}
	.post-comment .media-body .media-content {
		padding-left: 60px;
	}
	.show-more {
		margin: 13px auto;
	}
	.usereventlistimg {
		width: 301px;
		height: 226px;
		object-fit: contain;
		box-shadow: initial;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 375px) {
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 258px;
	}
	.header-search:hover input, .header-search input:focus {
		margin-left: -78px;
	}
	.usereventlistimg {
		width: 284px;
		height: 201px;
		object-fit: contain;
		box-shadow: initial;
	}
	.eventlistimg {
		width: 345px;
		height: 228px;
		object-fit: contain;
		box-shadow: initial;
	}
	.howwecan-left {
		margin-left: 33px;
		margin-top: 0;
		left: 0;
	}
	.slideshow--nav-next {
		left: 88%;
	}
	.slideshow--nav-previous {
		right: 88%;
	}
	.postpage .comment-date {
		margin-top: 0;
		margin-right: 68px;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		margin-top: 15px;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 228px;
	}
	.searchlist {
		width: 88%;
		height: auto;
		top: 37.9%;
		right: 0;
	}
	.cd-tabs {
		position: relative;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 15% auto;
		box-shadow: 0px 2px 16px 4px #919191;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 206px;
	}
	.show-more {
		margin: 13px auto;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
	.mypostfeed .recent-block {
		padding: 20px 1px;
	}
	.hdrmenu {
		padding-left: 0;
	}
}

@media only screen and (max-width: 360px) {
	.mypostfeed .recent-block {
		padding: 20px 4px;
	}
	.blog.upcoming-event.latest-blog .type-post .entry-meta [class*="post-"]
		{
		width: auto;
		text-align: left;
	}
	.usrprofle {
		float: left;
	}
	.usernameright {
		text-align: left;
	}
	.ow-navigation .nav.navbar-nav>li>a {
		padding: 10px 4px;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
	.show-more {
		margin: 13px auto;
	}
	.howwecan-left {
		margin-left: 24px;
		margin-top: 0;
		left: 0;
	}
	.hdrmenu {
		padding-left: 0;
	}
	.mypostview .comment {
		float: right !important;
	}
	.viewpost .comment {
		padding-right: 7px !important;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 215px;
	}
	.blog.upcoming-event.latest-blog .type-post:last-of-type {
		margin-bottom: 0;
	}
	.blogpost.latest-blog .section-padding:last-of-type {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.blog .widget-area {
		margin-top: 10px;
	}
	.menu-block .menu-search {
		right: 80px;
		border: none;
		width: 43px;
		height: 40px;
		position: initial;
	}
	.menu-search .sb-search-submit {
		top: 10px;
		left: 95%;
	}
	.header-search:hover input, .header-search input:focus {
		margin-left: -76px;
		color: #555;
		background: #fff;
		padding: 10px 10px 10px 10px;
		width: 298px;
		height: 30px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
		margin-top: -37px;
	}
	.btn-srch {
		margin-top: -37px;
	}
	.search-form {
		position: fixed;
		left: 0;
		right: 0;
		top: 259px;
	}
	.searchlist {
		width: 90%;
		height: auto;
		top: 39.4%;
		right: 0;
	}
	.slider-section .carousel-inner>.item>img {
		height: auto;
	}
	.section-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.eventlist.upcoming-event.latest-blog .type-post {
		width: 100%;
	}
	.eventlist.upcoming-event.latest-blog .entry-block {
		margin-top: 5px;
	}
	.upcoming-event.latest-blog .entry-block {
		padding: 0;
	}
	.testimonial-section {
		padding-top: 20px;
	}
	.imgallery .caption .vimore {
		margin-top: 35%;
	}
	.foltleft {
		float: left !important;
	}
	.footer-main {
		padding-top: 24px;
	}
	.footer-main .row {
		margin-bottom: 10px;
	}
	.footer-main .footer-about {
		padding-bottom: 12px;
		margin-bottom: 25px;
	}
	.block-title {
		font-size: 14px;
		margin: 0 0 13px 0;
	}
	.eventsingle .schedule-section .section-header h3 {
		font-size: 16px;
	}
	.uc-event-title h3 {
		font-size: 15px;
	}
	.uc-event-title p {
		font-size: 14px;
	}
	.eventsingle.latest-blog .section-padding:last-of-type {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	/*Start Login Page  */
	.cd-tabs-navigation a::before {
		left: 13%;
	}
	.cd-tabs {
		position: relative;
		width: 100%;
		max-width: 289px;
		min-width: 289px;
		margin: 15% auto;
		box-shadow: 0px 2px 16px 4px #919191;
	}
	.cd-tabs-content li {
		padding: 5px;
	}
	.booking-form-block {
		padding: 0;
	}
	.forgotpsw {
		text-align: left;
	}
	/*End Login page  */

	/* Start Event Overview page */
	.eventlist.latest-blog .type-post .entry-content p {
		padding-right: 0;
	}
	.slideshow {
		width: 100%;
		height: auto;
		line-height: 185px;
	}
	.slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventlist.upcoming-event.latest-blog .content-area {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.eventoverview .carousel-inner>.item>a>img, .carousel-inner>.item>img,
		.img-responsive, .thumbnail a>img, .thumbnail>img {
		display: block;
		max-width: 100%;
		height: auto !important;
		width: 100%;
	}
	.slideshow--bullet {
		top: 100px;
	}
	.slideshow--nav-previous {
		right: 86%;
	}
	.slideshow--nav-next {
		left: 86%;
	}
	.eventoverview .entry-block {
		padding: 10px !important;
	}
	.eventlist .upcoming-event.latest-blog .type-post {
		padding: 10px;
	}
	.participatehdr {
		padding-bottom: 10px;
	}
	.menu-block a.user {
		line-height: 0;
	}
	.top-header .register .signout {
		padding: 11px 18px !important;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		float: left;
		margin-bottom: 20px;
	}
	.viewpost .entry-cover {
		width: 100%;
	}
	.latest-blog .section-padding:last-of-type {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.mypostview .entry-block {
		left: 0px !important;
		padding: 0 !important;
	}
	span.play-button-link img.play-button {
		bottom: 36%;
		left: 75%;
		width: 50px;
		height: 50px;
	}
	.postpage .modal-lg {
		width: auto;
	}
	.manageMulti {
		width: 100% !important;
		height: auto !important;
	}
	.myElement {
		height: 200px;
		width: 100%;
	}
	.postpage .popupimg {
		min-height: 187px;
	}
	.widget-area .widget-title span {
		padding: 12px 9px;
	}
	.widget-area .widget-title h3 {
		font-size: 15px;
		padding: 14px 0;
	}
	.newpostbtn {
		padding: 1px 4px;
	}
	.userprofileimg {
		margin-left: 19px;
	}
	.eventslider .modal-md {
		width: auto;
	}
	.eventpopimg  .slideshow {
		width: 100%;
		height: auto;
		line-height: 192px;
	}
	.eventpopimg .slideshow--item {
		width: 100%;
		height: auto;
	}
	.postpage .comment-date {
		margin-top: 0;
		margin-right: 56px;
	}
	.popupimg .manageMulti {
		height: 400px ! important;
	}
	/* End Event Overview page  */
	.alignButtonOnPopUp {
		bottom: 36% ! important;
		left: 75% ! important;
	}
	.post-comment .media-body .media-heading span {
		float: initial;
	}
	.post-comment .media-body .media-content {
		padding-left: 56px;
	}
	.cashcomtimg {
		width: 100%;
		float: right;
		padding-left: 2px;
	}
	.viewpost .post-date {
		margin-right: 10px !important;
	}
	.footerlogo {
		padding-top: 0;
	}
	.hurryup-block {
		padding: 5px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.usereventlistimg {
		width: 276px;
		height: 172px;
		object-fit: contain;
		box-shadow: initial;
	}
	.eventlistimg {
		width: 271px;
		height: 202px;
		object-fit: contain;
		box-shadow: initial;
	}
	.popupimg .manageMulti {
		height: 400px ! important;
	}
	.postpage .comment-date {
		margin-top: 0;
		margin-right: 14px;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		margin-bottom: 0px;
	}
	.overimgslider .slideshow {
		width: 100%;
		height: auto;
		line-height: 180px;
	}
	.overimgslider .slideshow--bullet {
		top: 100px;
	}
	.eventpopimg .slideshow--bullet {
		top: 80px;
	}
	.eventpopimg .slideshow {
		width: 100%;
		height: auto;
		line-height: 163px;
	}
	.menu-block .menu-search {
		right: 80px;
		border: none;
		width: 43px;
		height: 40px;
		position: initial;
	}
	.menu-search .sb-search-submit {
		top: 10px;
		left: 95%;
	}
	.header-search:hover input, .header-search input:focus {
		margin-left: -37px;
		color: #555;
		background: #fff;
		padding: 10px 10px 10px 10px;
		width: 260px;
		height: 30px;
		z-index: 9999;
		text-shadow: none;
		letter-spacing: 1.4px;
		font-size: 14px;
		font-weight: 100;
	}
	.searchlist {
		width: 89%;
		height: auto;
		top: 44.4%;
		right: 0;
	}
	.slider-section .carousel-inner>.item>img {
		height: auto;
	}
	.section-padding {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.testimonial-section {
		padding-top: 20px;
	}
	.imgallery .caption .vimore {
		margin-top: 35%;
	}
	.foltleft {
		float: left !important;
	}
	.footer-main {
		padding-top: 24px;
	}
	.footer-main .row {
		margin-bottom: 10px;
	}
	.footer-main .footer-about {
		padding-bottom: 12px;
		margin-bottom: 25px;
	}
	.block-title {
		font-size: 14px;
		margin: 0 0 13px 0;
	}
	.eventsingle .schedule-section .section-header h3 {
		font-size: 16px;
	}
	.uc-event-title h3 {
		font-size: 15px;
	}
	.uc-event-title p {
		font-size: 14px;
	}
	.eventsingle.latest-blog .section-padding:last-of-type {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	/*Start Login Page  */
	.cd-tabs {
		position: relative;
		width: 100%;
		max-width: 289px;
		min-width: 289px;
		margin: 15% auto;
		box-shadow: 0px 2px 16px 4px #919191;
	}
	.cd-tabs-content li {
		padding: 5px;
	}
	.booking-form-block {
		padding: 0;
	}
	.forgotpsw {
		text-align: left;
	}
	/*End Login page  */

	/* Start Event Overview page */
	.eventlist.latest-blog .type-post .entry-content p {
		padding-right: 0;
	}
	.slideshow {
		width: 100%;
		height: auto;
		line-height: 185px;
	}
	.slideshow--item {
		width: 100%;
		height: auto;
	}
	.eventlist.upcoming-event.latest-blog .content-area {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.eventoverview .carousel-inner>.item>a>img, .carousel-inner>.item>img,
		.img-responsive, .thumbnail a>img, .thumbnail>img {
		display: block;
		max-width: 100%;
		height: auto !important;
		width: 100%;
	}
	.slideshow--bullet {
		top: 100px;
	}
	.slideshow--nav-previous {
		right: 86%;
	}
	.slideshow--nav-next {
		left: 86%;
	}
	.eventoverview .entry-block {
		padding: 10px !important;
	}
	.eventlist .upcoming-event.latest-blog .type-post {
		padding: 10px;
	}
	.participatehdr {
		padding-bottom: 10px;
	}
	.menu-block a.user {
		line-height: 0;
	}
	.top-header .register .signout {
		padding: 11px 18px !important;
	}
	.upcoming-event.latest-blog .col-xs-6 {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		float: left;
		margin-bottom: 20px;
	}
	.viewpost .entry-cover {
		width: 100%;
	}
	.latest-blog .section-padding:last-of-type {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.mypostview .entry-block {
		left: 0px !important;
		padding: 0 !important;
	}
	span.play-button-link img.play-button {
		bottom: 36%;
		left: 80%;
	}
	.postpage .modal-lg {
		width: auto;
	}
	.manageMulti {
		width: 100% !important;
		height: auto !important;
	}
	.myElement {
		height: 200px;
		width: 100%;
	}
	.postpage .popupimg {
		min-height: 187px;
	}
	.widget-area .widget-title span {
		padding: 12px 9px;
	}
	.widget-area .widget-title h3 {
		font-size: 15px;
		padding: 14px 0;
	}
	.newpostbtn {
		padding: 1px 4px;
	}
	.userprofileimg {
		margin-left: 19px;
	}
	.eventslider .modal-md {
		width: auto;
	}
	.mobilevermrngtop {
		margin-top: 10px;
	}
	/* End Event Overview page  */
	.viewpost .post-date {
		margin-right: 3px !important;
	}
	.viewpost .comment {
		font-size: 10px;
	}
	.viewpost .comment {
		padding-right: 3px !important;
	}
	.mypostview .comment {
		float: right !important;
	}
	.viewpostbg .comment i {
		font-size: 11px;
	}
	.commentimg {
		width: 100%;
		height: auto;
	}
}