/*

	Theme Name: Mitri Events
	
	[Table of contents]
	## Navigation Menu
		-- OW Navigation
	
	- Navigation Menu > 991 RES
	- Navigation Menu Switch < 991 RES
	
*/

/* ## Navigation Menu */
.ow-navigation {
	border: none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 1px;
	float: left;
}
.ow-navigation .navbar-brand {	
	height: auto;
	color: #333;
	padding-bottom: 0;
	padding-top: 0;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 0;
	margin-right: 12px;
	display: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}
.ow-navigation .navbar-brand span {	
	font-size: 28px;
	color: #29363e;
	font-family: 'Work Sans', sans-serif;	
	font-weight: 600;
    letter-spacing: 3.36px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.ow-navigation .navbar-brand span:hover {
	color: #21a5b2;
}
.ow-navigation .nav.navbar-nav > li {
	margin: 0 8px;
}
.ow-navigation .nav.navbar-nav > li:last-of-type {
	margin-right: 0;
}
.ow-navigation .nav.navbar-nav li > a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 6px 15px;
	line-height: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.ow-navigation .nav.navbar-nav > li > a {
	padding: 20px 15px;	
	letter-spacing: 1.95px;
	color: #222;	
}
.ow-navigation .dropdown-menu > .active > a,
.ow-navigation .dropdown-menu > .active > a:focus,
.ow-navigation .dropdown-menu > .active > a:hover {
	background-color: transparent;
}
.ow-navigation .nav.navbar-nav > li.active > a,
.ow-navigation .nav.navbar-nav > li.active:hover > a,
.ow-navigation .nav.navbar-nav > li.active:focus > a,
.ow-navigation .nav.navbar-nav > li:hover > a,
.ow-navigation .nav.navbar-nav > li:focus > a,
.ow-navigation .nav.navbar-nav > li > a:hover,
.ow-navigation .nav.navbar-nav > li > a:focus,
.ow-navigation .dropdown-menu li:hover > a,
.ow-navigation .dropdown-menu li > a:hover {
	background-color: transparent;
	color: #21a5b2;
	    font-weight: 600;
	
}

/* -- Navbar Fixed */
.navbar-fixed-top .ow-navigation .navbar-brand {
	padding: 31px 0;
}

/* - Navigation Menu > 991 RES. */
@media (min-width: 992px) {
	.menu-block.navbar-fixed-top {
		background-color: #fff;
	}
	.menu-block .navbar-collapse {
		padding-left: 0;
		padding-right: 0;		
	}
	.ow-navigation .nav.navbar-nav li.dropdown:hover > .dropdown-menu {
		opacity: 1;
		transform: scaleY(1);
		visibility: visible;
		background-color: #21a5b2;
	}	
	.ow-navigation .ddl-switch {
		display: none !important;
	}
	/* .navbar-fixed-top.menu-block .container {
		padding: 0;
	} */

	/* Dropdown */
	.ow-navigation .navbar-collapse > ul > li > .dropdown-menu {
		top: 100%;
		left: 0;
	}
	.ow-navigation ul li > .dropdown-menu {
		border: none;
		left: 100%;
		border-radius: 0;
		margin-top: 0;
		transform: scaleY(0);
		transform-origin: 0 0 0;
		transition: all 0.4s ease-in-out 0s;
		visibility: hidden;
		top: 0;
		box-shadow: none;
		display: block;
		padding: 0 10px;
		max-width: 250px;
		width: 100%;		
	}
	.ow-navigation .dropdown-menu > li > a {
		white-space: normal;
		padding: 7px 0;
		transition: all 1s ease 0s;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		color: #fff;
	}
	.ow-navigation .dropdown-menu > li:hover > a,
	.ow-navigation .dropdown-menu > li > a:hover {
		background-color: transparent;
		color: #fff;
	}
	.ow-navigation ul > li > .dropdown-menu { 
		left: 0; 
	}
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu { 	
		right: 0; 
	}	
	.ow-navigation ul > li > .dropdown-menu,
	.ow-navigation ul > li .dropdown-menu ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul	{
		right: auto;
	}	
	.ow-navigation ul > li .dropdown-menu ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul	{
		left: auto;
	}
}

/* - Navigation Menu Switch < 991 RES */
@media (max-width: 991px) {
	.menu-block.navbar-fixed-top {
		background-color: #fff;
	}
	.menu-block.navbar-fixed-top .ow-navigation .navbar-brand {
		display: block;
		padding: 10px 0 9px;
		margin-right: 0;
	}
	.menu-block.navbar-fixed-top .ow-navigation .navbar-brand > img {
		display: inline-block;
		margin-right: 15px;
		max-width: 46px;
	}
	.ow-navigation {
		padding: 0;
		width: 100%;
	}
	.ow-navigation .navbar-collapse {
        border-top: none;
        box-shadow: none;
		width: 100%;
		overflow: auto !important;		
		padding-left: 0;
		padding-right: 0;
	}
	.ow-navigation .navbar-collapse.collapse { 
		display: none!important; 
	}
    .ow-navigation .navbar-nav { 
		float: none!important; 
		border-top: 1px solid #e7e7e7;
		margin: 0;
	}	
    .ow-navigation .navbar-header {
		float: none;
	}
	.ow-navigation .navbar-brand { 
		padding-left: 0; 
		padding-bottom: 20px;
		padding-top: 20px;
	}
    .ow-navigation .navbar-toggle {
        display: block;
		background-color: #21a5b2;
		margin-bottom: 12px;
		margin-top: 14px;
		margin-right: 0px;
		border-radius: 0;
		border: 1px solid transparent;
		transition: all 1s ease 0s;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
    }
	.navbar-fixed-top .ow-navigation .navbar-toggle .icon-bar,
	.ow-navigation .navbar-toggle .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover,
	.ow-navigation .navbar-toggle:hover {
		background-color: #fff;
		border-color: #21a5b2;
	}
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover .icon-bar,
	.ow-navigation .navbar-toggle:hover .icon-bar {
		background-color: #21a5b2;
	}   
	.ow-navigation .navbar-collapse > .nav.navbar-nav > li {
		margin: 0;
	}
    .ow-navigation .navbar-nav > li {
		display: inline-block;
		float: none;
		width: 100%;
    }
	.ow-navigation .nav.navbar-nav li > a,
    .ow-navigation .navbar-collapse > ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
		width: 100%;
		padding-left: 0;
    }
	
    .ow-navigation .navbar-text {
        float: none;
        margin: 15px 0;
    }
	
	/* since 3.1.0 */
    .ow-navigation .navbar-collapse.collapse.in {  display: block!important; }
    .ow-navigation .collapsing { overflow: hidden!important; }
	.ow-navigation .dropdown-menu {
		background-color: transparent;
		border: 0 none;
		margin-top: 0;
		padding-left: 10px;
		padding-top: 0;
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	
	/* Switch */
	.ow-navigation .ddl-switch {
		background-color: #1e1e1e;
		cursor: pointer;
		font-size: 18px;
		padding: 1.5px 5px;
		position: absolute;
		right: 0;
		z-index: 9999;
		top: 6px;
		color: #21a5b2;
	}
	.ow-navigation .ddl-active > .ddl-switch:before {
		content: "\f106";
	}	
} 

/* -- max-width: 767 */
@media (max-width: 767px) {
	.menu-block.navbar-fixed-top .ow-navigation .navbar-brand > img {
		display: none;
	}
	.menu-block.navbar-fixed-top .ow-navigation .navbar-brand {		
		padding: 17px 0 0;
	}
	.menu-block .ow-navigation .navbar-brand span {
		font-size: 18px;
	}
}

/* -- min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.ow-navigation .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}