/* ## Global */
body {
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	color: #000;
	overflow-x: hidden;
}

.interestList li {
	display: block ! important;
}

.interestList label {
	position: unset ! important;
	text-transform: none ! important;
	float: left ! important;
	text-align: left ! important;
	width: 100% ! important;
	top: 7px;
	color: rgb(33, 165, 178);
	font-size: 15px;
	transition: all 0.3s;
	font-family: Open Sans, sans-serif;
	font-weight: 500;
}

.interestList input[type=checkbox] {
	height: 14px;
	float: left;
	text-transform: none;
	top: 1px;
	width: auto;
	margin-right: 6px !important;
}

.interestList input[type=radio] {
	text-transform: none;
	height: 14px;
	float: left;
	width: auto;
	margin-right: 6px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	outline: 0 !important;
}

/* - Padding/Margin */
.no-padding {
	padding: 0;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

.no-top-padding {
	padding-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0;
}

.no-margin {
	margin: 0;
}

.no-left-margin {
	margin-left: 0;
}

.no-right-margin {
	margin-right: 0;
}

.no-top-margin {
	padding-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

/* - OW pull-left/pull-right */
.ow-pull-left {
	float: left;
}

.ow-pull-right {
	float: right;
}

/* - Section Padding */
.section-padding {
	padding-top: 15px;
	padding-bottom: 15px;

	/* padding-top: 16px;
    padding-bottom: 12px; */
}

.manageSectionPadding {
	padding-top: 25px;
	padding-bottom: 5px;
}

/* - Block Title */
.block-title {
	text-transform: uppercase;
	letter-spacing: 1.12px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	margin: 15px 0 10px 0;
	display: inline-block;
	position: relative;
	word-wrap: break-word;
	font-family: Open Sans, sans-serif;
}

/* - Section Header */
.section-header {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.section-header h3 {
	margin: 0;
	font-size: 25px;
	letter-spacing: 0.9px;
	line-height: 28px;
	padding-bottom: 30px;
	word-wrap: break-word;
	font-weight: 500 !important;
	color: #222 !important;
}

.section-header span {
	font-size: 18px;
	letter-spacing: 2.88px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	color: #21a5b2;
	line-height: 28px;
	text-transform: capitalize;
}

/* ## Page Banner */
.page-banner {
	background: url("images/about-banner.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* min-height: 200px;
	max-height: 200px; */
	min-height: 40px;
	max-height: 40px;
	z-index: 1;
	text-align: center;
	/* display: inline-block; */
	width: 100%;
}

.page-banner::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	background-color: #29363e; /*rgba(41,54,62,0.9)  */
}

.page-banner .banner-content {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(-50%, -50%);
}
/* .page-banner .banner-content::before,
.page-banner .banner-content::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	background-color: #687075;
	width: 1px;	
} */
.page-banner .banner-content::before {
	left: 0;
}

.page-banner .banner-content::after {
	right: 0;
}

.page-banner .banner-content h3 {
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	position: relative;
	margin-top: 10px;
	display: block;
	padding-left: 80px;
	padding-right: 80px;
	word-wrap: break-word;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

.page-banner .banner-content .breadcrumb {
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 15px;
	padding: 0;
}

.page-banner .banner-content .breadcrumb li {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	word-wrap: break-word;
}

.page-banner .banner-content .breadcrumb li.active {
	color: #21a5b2;
}

.page-banner .banner-content .breadcrumb li:first-of-type a {
	margin-left: 0;
}

.page-banner .banner-content .breadcrumb li:last-of-type a {
	margin-right: 0;
}

.page-banner .banner-content .breadcrumb  a {
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 0.12px;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 5px;
	word-wrap: break-word;
}

/* - Page Banner:: Services */
.page-banner.services {
	background: url("images/service-banner.jpg");
}

/* - Page Banner:: Event Grid */
.page-banner.event-grid {
	background: url("images/event_grid-banner.jpg");
}

/* - Page Banner:: Blog */
.page-banner.blog {
	background: url("images/blog-banner.jpg");
}

/* - Page Banner:: 404 */
.page-banner.error {
	background: url("images/error-banner.jpg");
}

/* ## Fonts Settings */

/* - Work Sans : font-family: 'Work Sans', sans-serif; */
/* latin-ext */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Work Sans'), local('WorkSans-Regular'),
		url(https://fonts.gstatic.com/s/worksans/v2/WB2LNay3rHMH1zU8UJnUHBJtnKITppOI_IvcXXDNrsc.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Work Sans'), local('WorkSans-Regular'),
		url(https://fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Work Sans Medium'), local('WorkSans-Medium'),
		url(https://fonts.gstatic.com/s/worksans/v2/Nbre-U_bp6Xktt8cpgwaJD0LW-43aMEzIO6XUTLjad8.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Work Sans Medium'), local('WorkSans-Medium'),
		url(https://fonts.gstatic.com/s/worksans/v2/Nbre-U_bp6Xktt8cpgwaJOgdm0LZdjqr5-oayXSOefg.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
		url(https://fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGT0LW-43aMEzIO6XUTLjad8.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
		url(https://fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGegdm0LZdjqr5-oayXSOefg.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Work Sans Bold'), local('WorkSans-Bold'),
		url(https://fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5AmT0LW-43aMEzIO6XUTLjad8.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Work Sans Bold'), local('WorkSans-Bold'),
		url(https://fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5Amegdm0LZdjqr5-oayXSOefg.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* - Josefin Sans : font-family: 'Josefin Sans', sans-serif; */
/* latin-ext */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Sans'), local('JosefinSans'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Sans'), local('JosefinSans'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z9sVlKlcXvEcgUssOU60Pj4.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z_Bf3Xtc57ojmY2ox2Xv8Go.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z-IaMZP5eRGvEWe_CNIU_oY.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
		url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z3NuWYKPzoeKl5tYj8yhly0.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* - Raleway : font-family: 'Raleway', sans-serif; */
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'),
		url(http://fonts.gstatic.com/s/raleway/v10/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'),
		url(http://fonts.gstatic.com/s/raleway/v10/0dTEPzkLWceF7z0koJaX1A.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url(http://fonts.gstatic.com/s/raleway/v10/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url(http://fonts.gstatic.com/s/raleway/v10/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url(http://fonts.gstatic.com/s/raleway/v10/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url(http://fonts.gstatic.com/s/raleway/v10/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url(http://fonts.gstatic.com/s/raleway/v10/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url(http://fonts.gstatic.com/s/raleway/v10/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* - Arimo : font-family: 'Arimo', sans-serif; */
/* cyrillic-ext */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/an78_18DAUCSU6a4qacRuA.woff2)
		format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/4NN7UQ_VsRBn7NDD9HKUPw.woff2)
		format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/ye-fuRt_0mKrPeIp6Mwa8A.woff2)
		format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/VF6T-UwCT6WyIiUKP6AykQ.woff2)
		format('woff2');
	unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/X3cUdzInOvbZ6zhcyjPc3w.woff2)
		format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/eSHy7hCA8QR4qTF-59v60g.woff2)
		format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/V41d6938Z8eBLYL302F8Ig.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: local('Arimo'),
		url(https://fonts.gstatic.com/s/arimo/v9/HNu4Nzh6q8Es60EMNZhs9w.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* - Hind : font-family: 'Hind', sans-serif; */
/* devanagari */
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 500;
	src: local('Hind Medium'), local('Hind-Medium'),
		url(https://fonts.gstatic.com/s/hind/v5/bWPw4Za2XndpOjggSNN5JPY6323mHUZFJMgTvxaG2iE.woff2)
		format('woff2');
	unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9,
		U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 500;
	src: local('Hind Medium'), local('Hind-Medium'),
		url(https://fonts.gstatic.com/s/hind/v5/TCDCvLw6ewp4kJ2WSI4MT_Y6323mHUZFJMgTvxaG2iE.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 500;
	src: local('Hind Medium'), local('Hind-Medium'),
		url(https://fonts.gstatic.com/s/hind/v5/_JiDQLq4JWzs7prWhNNmuA.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* - Myriad Pro Regular : font-family: 'Montserrat', sans-serif; */
@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('fonts/Myriad Pro Regular'),
		url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

/* ## Header */
/* - Top Hedaer */
.top-header {
	border-bottom: 1px solid #e5e5e5;
	border-top: 3px solid #21a5b2;
	padding: 10px 0 10px;
}

/* - Social  */
.top-header .social {
	margin: 15px 0 15px;
}

.top-header .social ul {
	margin-bottom: 0;
}

.top-header .social ul li {
	margin-right: 14px;
}

.top-header .social ul li:last-of-type {
	margin-right: 0;
}

.top-header .social ul li, .top-header .social ul li a {
	display: inline-block;
}

.top-header .social ul li a {
	background-color: #bec2c5;
	border-radius: 100%;
	color: #fff;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	width: 42px;
}

.top-header .social ul li a:hover {
	background-color: #21a5b2;
	color: #000;
}

/* - Logo Block */
.top-header .logo-block {
	margin-top: 3px;
	text-align: center;
}

.logo-block a {
	text-decoration: none;
}

.top-header .logo-block a h3 {
	color: #29363e;
	display: block;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.36px;
	margin: 6px 0 0;
	text-transform: uppercase;
	word-wrap: break-word;
}

/* - Register */
/* .top-header .register {
	margin: 14px 0 14px;
	text-align: right;
	float: right;
} */

/* .top-header .register .signin {
	background-color: #949a9e;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-family: "Myriad Pro Regular";
	font-size: 12px;
	letter-spacing: 2.4px;
	line-height: 28px;
	padding: 5px 41px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
 */
/* .top-header .register .signin:hover {
	background-color: #21a5b2;
	color: #fff;
} */
.top-header .register .signout {
	padding: 5px 18px !important;
	font-size: 17px;
}

.username {
	/* line-height: 38px;
	font-size: 15px !important;
	margin-top: 0;
	font-family: 'Noto Sans', sans-serif !important;
	color: #21a5b2 !important;
	font-weight: 600 !important;
	text-decoration: none !important;
	letter-spacing: 0.40px; */
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #535763 !important;
	font-weight: normal;
}
/* - Menu Block */
.menu-block {
	margin-top: -1px;
	box-shadow: 0 8px 9px -6px rgba(0, 0, 0, 0.25);
}

.menu-block .container {
	position: relative;
}

/* .navbar-fixed-top.menu-block .container {
	border-top: none;
	max-width: 1170px;
} */

/* - User */
/* .menu-block a.user {
	width: 70px;
	height: 61px;
	background-color: #21a5b2;
	display: inline-block;
	text-align: center;
	padding: 8px;
	float: left;
	position: relative;
	left: 0;
}

.menu-block a.user i {
	border: 4px solid #fff;
	border-radius: 100%;
	font-size: 30px;
	height: 37px;
	width: 37px;
	line-height: 35px;
	color: #fff;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

.menu-block .user:hover i {
	border-color: #000;
	color: #000;
} */

/* - Expanding Search */
.menu-block .menu-search {
	float: right;
	display: inline-block;
	height: 61px;
	width: 60px;
	text-align: center;
	background: #21a5b2; /* 
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5; */
	position: relative;
}

.menu-block.navbar-fixed-top .menu-search {
	border: none;
}

.menu-search .sb-search-submit i {
	font-size: 20px;
	color: #fff;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

.menu-search .sb-search-submit:hover i {
	color: #fff;
}

.menu-search .sb-search-input::-webkit-input-placeholder {
	color: #000;
}

.menu-search .sb-search-input:-moz-placeholder {
	color: #000;
}

.menu-search .sb-search-input::-moz-placeholder {
	color: #000;
}

.menu-search .sb-search-input:-ms-input-placeholder {
	color: #000;
}

.menu-search .sb-search {
	position: relative;
}

.menu-search .sb-icon-search, .menu-search .sb-search-submit {
	width: auto;
	display: block;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.menu-search .sb-search-submit {
	/* background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 1;
	color: transparent;
	border: none;
	outline: none;
	left: 0;
	margin: 0 auto;
	width: 100%; */
	z-index: 1;
	position: absolute;
	right: 0;
	top: 21px;
}
/* Open state */
.menu-search .sb-search.sb-search-open, .menu-search .no-js .sb-search {
	width: 100%;
	-webkit-transition: width 0.8s;
	-moz-transition: width 0.8s;
	transition: width 0.8s;
	-webkit-backface-visibility: hidden;
}

.menu-search .sb-search.sb-search-open .sb-icon-search, .menu-search .no-js .sb-search .sb-icon-search
	{
	color: #fff;
	z-index: 11;
}

.menu-search .sb-search.sb-search-open .sb-search-submit, .menu-search .no-js .sb-search .sb-search-submit
	{
	z-index: 90;
}

.menu-search .sb-search-input {
	position: absolute;
	top: 65px;
	right: 0px;
	border: none;
	outline: none;
	background: none;
	width: 0;
	height: 0;
	margin: 0;
	z-index: 11;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #000;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.menu-search .sb-search.sb-search-open .sb-search-input {
	top: 81px;
	padding: 10px 30px 10px 30px;
	background-color: #fff;
	width: 280px;
	height: 40px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

/* ## Footer */
.footer-main {
	background-color: #29363e;
	/* padding-top: 20px; */
}

.footer-main .row {
	margin-bottom: 5px;
}

/* - Footer About */
.footer-main .footer-about {
	position: relative;
	text-align: center;
	border-bottom: 1px solid #3a464d;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 15px;
}

.footer-main .logo-block {
	position: absolute;
	left: 0;
}

.footer-main .logo-block h3 {
	text-transform: uppercase;
	color: #fefefe;
	font-size: 20px;
	margin: 11px 0 0;
	font-weight: 600;
	letter-spacing: 1.36px;
	word-wrap: break-word;
}

.footer-main .footer-about .footer-about-content {
	margin-left: 185px;
	text-align: center;
}

.footer-about-content p {
	line-height: 26px;
	color: #a4b0b6;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

/* - Widget */
.footer-main .widget ul {
	padding-left: 0;
}

.footer-main .widget ul li {
	display: inline-block;
}

.footer-main .widget ul li a {
	color: #a4b0b6;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.39px;
	font-weight: 500;
	text-decoration: none;
	width: 100%;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	font-family: Open Sans, sans-serif;
}

.footer-main .widget_customer_services ul li, .footer-main .widget_quick_links ul li
	{
	display: inline-block;
	width: 100%;
}

.footer-main .widget_customer_services ul li a:hover, .footer-main .widget_quick_links ul li a:hover
	{
	margin-left: 10px;
	color: #21a5b2;
}

.footer-main .widget.widget_quick_links {
	padding-left: 4px;
}

/* - ContactUs Widget */
.footer-main .widget_contactus {
	padding-left: 43px;
}

.footer-main .widget_contactus .contactinfo-box {
	position: relative;
	display: inline-block;
	margin-bottom: 7px;
}

.footer-main .widget_contactus .contactinfo-box:hover i {
	color: #21a5b2;
}

.footer-main .widget_contactus .contactinfo-box:last-of-type {
	margin-bottom: 0;
}

.footer-main .widget_contactus .contactinfo-box i {
	position: absolute;
	left: 0;
	top: 5px;
	color: #a4b0b6;
	font-size: 16px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

.footer-main .widget_contactus .contactinfo-box  p {
	margin-left: 20px;
	color: #a4b0b6;
	font-size: 14px;
	padding-right: 40px;
	line-height: 24px;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
	margin-bottom: 0;
}

.footer-main .widget_contactus .contactinfo-box p a {
	text-decoration: none;
	color: #a4b0b6;
	display: block;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

.footer-main .widget_contactus .contactinfo-box p a:hover {
	color: #21a5b2;
	margin-left: 5px;
}

/* - Neweletter Widget */
.footer-main .widget_newsletter {
	padding-left: 23px;
}

.footer-main .widget_newsletter p {
	color: #a4b0b6;
	margin-top: 12px;
	padding-right: 15px;
	font-size: 14px;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

.footer-main .widget_newsletter .input-group {
	margin-bottom: 27px;
	margin-top: 25px;
	margin-right: 3px;
}

.footer-main .widget_newsletter .form-control {
	border-radius: 0;
	box-shadow: none;
	border: none;
	min-height: 44px;
	padding-left: 23px;
	color: #a4b0b6;
	font-size: 14px;
	line-height: 24px;
	z-index: 1;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

.footer-main .widget_newsletter .input-group-btn .btn {
	background-color: #21a5b2;
	font-size: 17px;
	border-radius: 0;
	color: #fff;
	line-height: 24px;
	min-height: 44px;
	position: relative;
	font-weight: 400;
	margin-bottom: 0;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

.footer-main .widget_newsletter .input-group-btn .btn::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	width: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(41, 54, 62, 1);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	z-index: -1;
}

.footer-main .widget_newsletter .input-group-btn .btn:hover::before {
	width: 100%;
}

.footer-main .widget_newsletter ul {
	padding-left: 0;
}

.footer-main .widget_newsletter ul li {
	display: inline-block;
	margin-right: 8px;
}

.footer-main .widget_newsletter ul li:last-of-type {
	margin-right: 0;
}

.footer-main .widget_newsletter ul li a {
	height: 37px;
	width: 37px;
	display: inline-block;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	background-color: #49545b;
	border-radius: 100%;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

.footer-main .widget_newsletter ul li a:hover {
	background-color: #21a5b2;
	color: #fff;
	-ms-transform: rotate(360deg); /* IE 9 */
	-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	transform: rotate(360deg);
}

.footer-main .widget_newsletter a+.tooltip>.tooltip-inner {
	background-color: #21a5b2;
	color: #fff;
}

.footer-main .widget_newsletter a+.tooltip>.tooltip-arrow {
	border-bottom-color: #21a5b2;
}
/* - Footer Menu */
.footer-menu {
	border-top: 1px solid #3a464d;
	padding-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	display: inline-block;
}

/* - CopyRights */
.footer-menu .copyrights p {
	color: #a4b0b6;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 0;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

/* - Footer: OW Navigation */
.footer-menu .ow-navigation .navbar-collapse {
	padding-right: 0;
}

.footer-menu .ow-navigation .nav.navbar-nav>li {
	margin: 0 12px;
}

.footer-menu .ow-navigation .nav.navbar-nav>li:last-of-type {
	margin-right: 0;
}

.footer-menu .ow-navigation .nav.navbar-nav>li>a {
	padding: 5px 5px;
	color: #a4b0b6;
	font-size: 12px;
	letter-spacing: 0.36px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.footer-menu .ow-navigation .nav.navbar-nav>li.active>a, .footer-menu .ow-navigation .nav.navbar-nav>li>a:hover
	{
	color: #21a5b2;
}

.footer-menu .ow-navigation .nav.navbar-nav>li:last-of-type>a {
	padding-right: 0;
}

/*Start Registeration Page*/

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
	box-sizing: border-box;
	outline: 0;
	padding: 0;
	argin: 0;
}

*::after, *::before {
	content: '';
}

/* -------------------------------- 

Main components 

-------------------------------- */
.logo {
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 20px;
	width: 120px;
	height: 120px;
	opacity: 0.5;
}

.cd-tabs {
	position: relative;
	width: 90%;
	max-width: 600px;
	min-width: 400px;
	margin: 0 auto;
	margin-top: 25px;
	box-shadow: 10px 10px 44px 0px #919191;
	border-radius: 5px;
	margin-bottom: 50px;
}

.cd-tabs:after {
	content: '';
	display: table;
	clear: both;
}

.cd-tabs nav {
	overflow: hidden;
	position: relative;
}

.cd-tabs-navigation:after {
	content: "";
	display: table;
	clear: both;
}

.cd-tabs-navigation {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: none;
}

.cd-tabs-navigation li {
	display: block;
	float: left;
	height: 60px;
	width: 50%;
	max-width: 300px;
	line-height: 60px;
	text-align: center;
}

.cd-tabs-navigation a {
	position: relative;
	display: block;
	height: 60px;
	width: 100%;
	padding: 0 0 0 20px;
	letter-spacing: 0.55px;
	color: #222;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
}

.cd-tabs-navigation a::before {
	/* icons */
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 30%;
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url('http://image005.flaticon.com/1/svg/32/32317.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.cd-tabs-navigation a[data-content='signup']::before {
	background-image: url('http://image005.flaticon.com/1/svg/1/1819.svg');
}

.cd-tabs-navigation a.selected {
	box-shadow: inset 0 2px 0 #f05451;
}

/* .cd-tabs-navigation a[data-content='signup']::before {
	left: 20%;
} */
@media only screen and (max-width: 768px) {
	.cd-tabs-navigation a::before {
		left: 20%;
	}
	.cd-tabs-navigation a[data-content='signup']::before {
		left: 8%;
	}
}

.cd-tabs-navigation a.selected {
	background-color: #fff !important;
	box-shadow: inset 0 3px #21a5b2;
	text-decoration: none !important;
}

/* -------------------------------- 


-------------------------------- */
.cd-tabs-content {
	background: #ffffff;
	margin: 0;
	pading: 0;
	border-radius: 1.5em;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.cd-tabs-content li {
	display: none;
	padding: 10px;
}

.cd-tabs-content li.selected {
	display: block;
	-webkit-animation: cd-fade-in 0.5s;
	animation: cd-fade-in 0.5s;
}

form {
	display: block;
	position: relative;
}

.form-fild {
	position: relative;
	display: block;
	width: 100%;
	/*height: 60px;*/
	margin: 10px auto;
	padding: 0 15px;
}

.form-fild input, select {
	position: relative;
	z-index: 99;
	border: none;
	border-bottom: 1px solid #e0e0e0;
	display: block;
	width: 100%;
	height: 40px;
	outline: none;
	font-size: 15px;
	color: #222;
	background: transparent;
	font-weight: 500;
	font-family: Open Sans, sans-serif;
	padding: 0 8px;
}

input:-webkit-autofil, textarea:-webkit-autofill, select:-webkit-autofill
	{
	background-color: transparent;
}

.form-fild label {
	position: absolute;
	top: 7px;
	color: rgba(58, 53, 53, 0.59);
	font-weight: 500;
	font-size: 14px;
	transition: all 0.3s;
	font-family: Open Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
}

label.focused {
	top: -10px;
}

form button {
	border-radius: 0;
	padding: 9px 26px;
	background-color: #21a5b2;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1.95px;
	text-align: left;
	display: block;
	margin-top: 42px;
	outline: none;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	border: 0px solid #B3B3B3;
	cursor: pointer;
}

.register .btn::before {
	background-color: #29363e;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 0;
	z-index: -1;
}

.error {
	display: none;
	position: absolute;
	width: 184px;
	line-height: 18px;
	top: -198px;
	left: 353px;
	padding: 10px;
	color: #DC3B3B;
	background: rgba(255, 0, 0, 0.17);
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
}

@
-webkit-keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity


























:













 













1;
}
}
@
keyframes cd-fade-in { 0% {
	opacity: 0;
}

100%
{
opacity


























:













 













1;
}
}
.loginbtn {
	margin-left: 0;
}

.forgotpsw {
	margin-top: 18px;
	margin-bottom: 22px;
	font-size: 13px;
	letter-spacing: 0.48px;
	line-height: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222;
	text-transform: uppercase;
}

.forgotpsw a {
	text-decoration: none !important;
	font-weight: 500;
	font-size: 14px;
	transition: all 0.3s;
	font-family: Open Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: lowercase;
	color: #21a5b2;
}

.forgotpsw a:hover {
	color: #21a5b2;
	text-decoration: none !important;
}

/*End Registration Page*/

/*Start Sponsorship*/
.single-upcomming {
	background: #fff none repeat scroll 0 0;
	float: left;
	margin-bottom: 20px;
	/*min-height: 180px;*/
	padding: 15px 0;
	width: 100%;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
	border-radius: .375rem;
	transition: all .3s ease;
}

.shadow-box:hover {
	box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.sue-pic {
	float: left;
	text-align: center;
	width: 100px;
}

.sue-pic>img {
	border-radius: 100%;
}

.sue-date-time {
	display: inline-block;
	padding: 43px 0;
}

.sue-date-time span {
	display: block;
}

.uc-event-title {
	overflow: hidden;
	/*padding-top: 45px;*/
}

.uc-icon {
	float: left;
	font-size: 45px;
	width: 23%;
	padding-top: 13px;
}

.uc-event-title h3 {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #222;
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
}

.uc-event-title p {
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.39px;
	font-size: 15px;
}

.uc-event-title>a {
	color: #555;
	float: left;
	padding-top: 10px;
	width: 77%;
}

.venu-no {
	padding-top: 65px;
}

.upcomming-ticket {
	padding-top: 55px;
}

a.btn-def.bnt-2.small {
	padding: 10px 20px;
}

a.btn-def.bnt-2 {
	border: 1px solid #555;
	color: #555;
	padding: 10px 20px;
}

.wrap-feature-icon {
	width: 80px;
	height: 80px;
	border: 1px solid #eff2f7;
	background: #fff;
	padding: 10px;
	/* margin: 0 auto 50px;*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wrap-feature-icon .feature-icon {
	height: 58px;
	width: 58px;
	border: 1px solid #eff2f7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	/* border-radius: 50%; */
	background: #eff2f7;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wrap-feature-icon .feature-icon .icon {
	line-height: 58px;
	font-size: 25px;
	color: #666666;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.single-upcomming:hover .wrap-feature-icon .feature-icon {
	background: #21a5b2;
}

.single-upcomming:hover .wrap-feature-icon .feature-icon .icon {
	color: #fff;
}
/*End Sponsorship*/

/* ========================================================================== */
/* ========================================================================== */
/* [ Responsive ] */
/* ========================================================================== */
/* ========================================================================== */

/* - min-width: 1200 */
@media ( min-width : 1200px) {
	.container {
		width: 1200px;
	}
}

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* - Menu Block */
	.menu-block .menu-search {
		width: 70px;
	}

	/* - Footer Main */
	.footer-main .widget_newsletter ul li {
		margin-right: 6px;
	}
}

/* - max-width: 991 */
@media ( max-width : 991px) {
	/* - Menu Block */
	/* .menu-block a.user {
		position: absolute;
		left: 15px;
	}
	.menu-block .col-sm-12 {
		padding: 0;
	} */
	/* .menu-block.navbar-fixed-top  a.user {
		display: none;
	} */
	.menu-block a.user {
		height: 60px;
		width: 60px;
		line-height: 78px;
		z-index: 2;
	}
	.menu-block .menu-search {
		right: 80px;
		border: none;
		/* width: 20px;
		height: 59px; */
		position: absolute;
	}
	.menu-search .sb-search.sb-search-open .sb-search-input {
		top: 60px;
	}
	.menu-search .sb-search-submit {
		top: 21px;
	}

	/* - Footer Main */
	.footer-main .widget:nth-child(2n+1) {
		clear: both;
		margin-bottom: 20px;
	}
	.footer-main .widget_contactus, .footer-main .widget_newsletter,
		.footer-main .widget.widget_quick_links {
		padding-left: 15px;
	}

	/* - Footer Menu */
	.footer-menu {
		padding-top: 15px;
	}
	.footer-menu .ow-navigation {
		margin-top: -30px;
	}
	.footer-menu .ow-navigation .navbar-toggle {
		margin-top: 0;
	}
	.footer-menu .ow-navigation .nav.navbar-nav>li {
		margin: 0;
	}
	.footer-menu .ow-navigation .navbar-nav {
		border-color: #3a464d;
	}
	.footer-menu .ow-navigation .nav.navbar-nav>li>a {
		padding-left: 0;
	}
	.footer-menu .ow-navigation .nav.navbar-nav>li>a:hover {
		color: #21a5b2;
	}
	.footer-menu .dropdown-menu>li>a {
		color: #a4b0b6;
		font-size: 12px;
	}
	.footer-menu .ow-navigation .nav.navbar-nav .dropdown-menu li>a {
		color: #a4b0b6;
		font-size: 12px;
		font-weight: 400;
		background-color: transparent;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.footer-menu .ow-navigation .nav.navbar-nav .dropdown-menu li:hover>a {
		color: #21a5b2;
	}
}

/* - max-width: 767 */
@media ( max-width : 767px) {
	/* - Top Header */
	.top-header {
		padding-top: 0;
		padding-bottom: 7px;
	}
	.top-header .social, .top-header .register {
		margin: 15px 0 10px;
	}
	.section-padding {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

/* - max-width: 639 */
@media ( max-width : 639px) {
	/* - Top Header */
	.top-header .logo-block {
		margin-top: 0px;
	}
	.page-banner .banner-content h3 {
		padding-left: 40px;
		padding-right: 40px;
	}
	/* - Footer Main */
	/* - Newsletter widget */
	.footer-main .widget_newsletter ul li {
		margin-right: 0;
		margin-bottom: 5px;
	}
	.footer-main .widget_newsletter ul li a {
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
}

/* - max-width: 479 */
@media ( max-width : 479px) {
	/* - Top Header */
	.top-header .col-xs-6 {
		width: 100%;
		float: none;
		text-align: center;
	}
	.menu-search .sb-search.sb-search-open .sb-search-input {
		width: 210px;
	}

	/* - Footer Main */
	/* - Footer About */
	.footer-about img {
		max-width: 46px;
	}
	.footer-main .logo-block {
		position: relative;
		display: block;
		margin-bottom: 30px;
	}
	.footer-main .logo-block h3 {
		font-size: 24px;
	}
	.footer-main .footer-about .footer-about-content {
		margin-left: 0px;
	}

	/* - Footer */
	.footer-main .widget {
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-main .widget:last-of-type {
		margin-bottom: 0;
	}
	.footer-main .widget_contactus .contactinfo-box {
		width: 100%;
	}

	/* - Section Header */
	.section-header h3 {
		font-size: 20px;
		letter-spacing: 0.5px;
	}

	/* - Page Banner */
	.page-banner .banner-content h3 {
		font-size: 18px;
	}
	.page-banner .banner-content {
		left: 0;
		right: 0;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.page-banner .banner-content::before, .page-banner .banner-content::after
		{
		width: 0;
	}
}

.errorStyle {
	display: none;
	color: red;
	float: left;
	font-size: 11px;
}

/* LOGIN REMEMBER ME STYLE */
.remeberMe {
	margin-left: 17px;
	font-size: 14px;
	color: #333;
	font-weight: 100;
}

.remeberMe input[type=checkbox] {
	margin-right: 6px !important;
}

/* END LOGIN REMEMBER ME STYLE */

/*Newsletter go btn*/
.input-group-addon, .input-group-btn {
	vertical-align: top;
}

.errorMessagePara {
	color: red;
	font-size: 12px;
	padding: 0px 23px 0px ! important;
}