


.contentHide 
{
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Post View Feed Design  */

.postpage .modal-content {
    border-radius: 0;
}

@media ( min-width :768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
	.modal-sm {
		width: 300px
	}
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.postpage .modal-header {
    padding: 10px;
    padding-right: 7px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
}


/*start post page popup */

.postpage .modal-lg {
	width: 1100px;
}

.postpage .modal-content {
	border-radius: 0;
}

.postpage .modal-header {
	padding: 10px;
	padding-right: 7px;
}

.postpage .modal-header .close {
	margin-top: -10px;
	background: #21a5b2;
	padding: 7px;
	padding-top: 1px;
	padding-bottom: 3px;
	margin-right: -7px;
	opacity: 2;
	color: #fff;
	font-weight: 100;
}

.postpage .popupimg {
	border: 1px solid #f5f5f5;
	padding: 5px;
	margin-bottom: 13px;
	max-width: 552px;
	min-height: 450px;
	text-align: center;

	/* max-height: 450px; */
}

.postpage .popupimg img {
	max-height: 436px;
}

.postpage .popupimg video {
	width: 100%;
}
/* .postpage .popupdecs {
	    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
        margin-bottom: 13px;
} */
.postpage .popst-desc {
	padding-right: 10px;
	font-size: 14px;
line-height: 20px;
letter-spacing: 0.45px;
    font-family: 'PT Sans', sans-serif;
}
/*font Awesome http://fontawesome.io*/
@import
	url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css)
	;
/*Comment List styles*/
.postpage .comment-list .row {
	margin-bottom: 0px;
}

.postpage .comment-list .panel .panel-heading {
	padding: 4px 15px;
	position: absolute;
	border: none;
	/*Panel-heading border radius*/
	border-top-right-radius: 0px;
	top: 1px;
}

.postpage .comment-list .panel .panel-heading.right {
	border-right-width: 0px;
	/*Panel-heading border radius*/
	border-top-left-radius: 0px;
	right: 16px;
}

.postpage .comment-list .panel .panel-heading .panel-body {
	padding-top: 6px;
}

.postpage .comment-list figcaption {
	/*For wrapping text in thumbnail*/
	word-wrap: break-word;
}
.postpage .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}
.postpage .comment-user {
	float: left;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 0.45px;
}

.postpage .comment-date {
	float: right;
	color: #21a5b2;
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 0.45px;
}

.postpage .comment-post p {
	margin: 0px;
	font-size: 13px;
	    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.45px;
}
/* Portrait tablets and medium desktops */
@media ( min-width : 768px) {
	.postpage .comment-list .arrow:after, .comment-list .arrow:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
	}
	.postpage  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before
		{
		border-left: 0;
	}
	/*****Left Arrow*****/
	/*Outline effect style*/
	.postpage  .comment-list .panel.arrow.left:before {
		left: 0px;
		top: 30px;
		/*Use boarder color of panel*/
		border-right-color: inherit;
		border-width: 16px;
	}
	/*Background color effect*/
	.postpage  .comment-list .panel.arrow.left:after {
		left: 1px;
		top: 31px;
		/*Change for different outline color*/
		border-right-color: #FFFFFF;
		border-width: 15px;
	}
	/*****Right Arrow*****/
	/*Outline effect style*/
	.postpage  .comment-list .panel.arrow.right:before {
		right: -16px;
		top: 30px;
		/*Use boarder color of panel*/
		border-left-color: inherit;
		border-width: 16px;
	}
	/*Background color effect*/
	.postpage  .comment-list .panel.arrow.right:after {
		right: -14px;
		top: 31px;
		/*Change for different outline color*/
		border-left-color: #FFFFFF;
		border-width: 15px;
	}
}

.postpage .comment-list .comment-post {
	margin-top: 8px;
}

.postpage .post-comment {
	background: #f5f5f5;
	padding: 10px;
}

.postpage .panel-default {
	background-color: #fff;
	-webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
	box-shadow: 0 2px rgba(0, 0, 0, 0.01);
	border: 0;
	margin-bottom: 5px;
}

.postpage .panel-body {
	padding: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
	box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}

.postpage .comment-user, .comment-date i {
	color: #21a5b2;
}

.postpage .form-horizontal .form-group {
	margin: 0px
}

.myElement {
	height: 450px;
	width: 503px;
}


.simplebar, [data-simplebar-direction] {
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	/* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

.simplebar .simplebar-scroll-content, [data-simplebar-direction] .simplebar-scroll-content
	{
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-ms-overflow-style: none; /* hide browser scrollbar on IE10+ */
}

/* hide browser scrollbar on Webkit (Safari & Chrome) */
.simplebar-scroll-content::-webkit-scrollbar {
	display: none;
}

[data-simplebar-direction="horizontal"] .simplebar-scroll-content,
	.simplebar.horizontal .simplebar-scroll-content {
	overflow-x: scroll;
	overflow-y: auto;
}

.simplebar-track {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 11px;
}

.simplebar-track .simplebar-scrollbar {
	position: absolute;
	right: 2px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	min-height: 10px;
	width: 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	background: #21a5b2;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}

.simplebar-track:hover .simplebar-scrollbar {
	/* When hovered, remove all transitions from drag handle */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
	-webkit-transition: opacity 0 linear;
	-moz-transition: opacity 0 linear;
	-o-transition: opacity 0 linear;
	-ms-transition: opacity 0 linear;
	transition: opacity 0 linear;
}

.simplebar-track .simplebar-scrollbar.visible {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
}

[data-simplebar-direction="horizontal"] .simplebar-track, .simplebar.horizontal .simplebar-track
	{
	top: auto;
	left: 0;
	width: auto;
	height: 11px;
}

[data-simplebar-direction="horizontal"] .simplebar-track .simplebar-scrollbar,
	.simplebar.horizontal .simplebar-track .simplebar-scrollbar {
	right: auto;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto;
}


.commntimg{
    border: 2px solid #21a5b2;
    margin-top: 7px;
}
.commntimg video {
	width:100%;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
        border: 0;
}



