.eventslider .slideshow {
	width: 100%;
	height: 490px;
}
.slideshow {
	width: 100%;
	height: 400px;
	position: relative;
	text-align: center;
	line-height: 750px;
	padding-bottom: 30px;
	margin-bottom:10px;
}

.slideshow[data-transition="zoom"] {
	overflow: hidden;
}

/* slideshow item */
.eventslider .slideshow--item {
	width: 100%;
	height: 490px;
}
.slideshow--item {
	width:100%;
	height: 400px;
	line-height: 1.5;
	position: absolute;
	top: 0;
	visibility: hidden;
}

.slideshow--bullet:checked + .slideshow--item {
	visibility: visible;
}

.slideshow[data-transition="fade"] .slideshow--item {
	visibility: visible;
	opacity: 0;
	transition: .3s ease-out opacity;
}

.slideshow[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
}

.slideshow[data-transition="zoom"] .slideshow--item {
	visibility: visible;
	opacity: 1;
	transform: scale(0.000001);
	transition: .3s ease-out transform;
}

.slideshow[data-transition="zoom"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
	transform: scale(1);
}

/* slideshow navigation */
.slideshow--nav{
	/* position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	display: none;
	z-index: 88;
	cursor: pointer;
	color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
	    position: absolute;
    z-index: 88;
    cursor: pointer;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        background: rgb(33, 165, 178);
    border-radius: 50%;
    height: 30px;
    width: 30px;;
}

.slideshow--nav:after {
	    display: block;
    content: '\25B6';
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 6px;
}

.slideshow--nav-previous {
	right: 90%;
    display: block;
    top: 50%;
}

.slideshow--nav-previous:after {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
	right: auto;
	left: 6px;
}

.slideshow--nav-next {
	    left: 90%;
    display: block;
    top: 50%;
}

/* Radiobuttons to control the slideshow */
.slideshow--bullet {
	font-size: .75em;
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
	z-index: 99;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background:none;
	border-radius: 1em;
	transition: .3s ease-out background,
				.3s ease-out transform;
				    border: 1px solid #21a5b2;
}

.slideshow--bullet:checked {
	background: #21a5b2;
	outline: none;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}