


/* Preloader */

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.8;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99999; /* makes sure it stays on top */
}


.cssload-container{
	position:relative;
	top:50%;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(255,255,255);
	/* border-left-color: rgb(133,61,227); */
	border-left-color:#21a5b2;
	border-radius: 2373px;
		-o-border-radius: 2373px;
		-ms-border-radius: 2373px;
		-webkit-border-radius: 2373px;
		-moz-border-radius: 2373px;
}

.cssload-whirlpool {
	margin: -59px 0 0 -59px;
	height: 119px;
	width: 119px;
	animation: cssload-rotate 1900ms linear infinite;
		-o-animation: cssload-rotate 1900ms linear infinite;
		-ms-animation: cssload-rotate 1900ms linear infinite;
		-webkit-animation: cssload-rotate 1900ms linear infinite;
		-moz-animation: cssload-rotate 1900ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -55px 0 0 -55px;
	height: 105px;
	width: 105px;
	animation: cssload-rotate 1900ms linear infinite;
		-o-animation: cssload-rotate 1900ms linear infinite;
		-ms-animation: cssload-rotate 1900ms linear infinite;
		-webkit-animation: cssload-rotate 1900ms linear infinite;
		-moz-animation: cssload-rotate 1900ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -69px 0 0 -69px;
	height: 133px;
	width: 133px;
	animation: cssload-rotate 3800ms linear infinite;
		-o-animation: cssload-rotate 3800ms linear infinite;
		-ms-animation: cssload-rotate 3800ms linear infinite;
		-webkit-animation: cssload-rotate 3800ms linear infinite;
		-moz-animation: cssload-rotate 3800ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}